@import "config";

/* Global Styles  */

/* Table */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  thead {
    th {
      &:nth-child(1) {
        width: 33%;
      }

      &:nth-child(2) {
        width: 33%;
      }

      &:nth-child(3) {
        width: 33%;
      }
    }
  }

  th {
    letter-spacing: 2px;
    padding: 20px;
  }

  td {
    letter-spacing: 1px;
    padding: 20px;
  }
}

/* Styling for Top Level Component */
.related-items {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: $dark-color;
}

// Styling Components
.c {
  /* Card Styling */
  &-card {
    border: 1px solid $medium-color;
    background-color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 365px;
    position: relative;

    &__image-placeholder {
      width: 100%;
      height: 250px;
      background-color: $light-color;
      font-size: $large-font;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &__icon {
      font-size: $extra-large-font;
      margin: 20px;
    }

    &__content {
      margin: 10px;
      color: $dark-color;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__image {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }

    &__text {
      font-size: $extra-small-font;
      margin-bottom: 0.5rem;
      color: $medium-color;
    }

    &__name {
      font-size: $small-font;
    }

    &__link {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }

    &__btn {
      position: absolute;
      right: 0;
      margin: 10px;
      font-size: $medium-font;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }

      &--compare {
        color: white;
      }

      &--delete {
        color: red;
      }
    }
  }

  /* Related Products Styling */
  &-related-products {
    margin: 75px auto;
    max-width: $website-width;

    &__products_header {
      color: $medium-color;
      font-weight: 400;
      font-size: $small-font;
      margin-bottom: 20px;
    }
  }

  /*Outfit Styling */
  &-outfit {
    margin: 75px auto;
    max-width: $website-width;

    &__header {
      color: $medium-color;
      font-weight: 400;
      font-size: $small-font;
      margin-bottom: 20px;
    }
  }

  /* AddToOutfit Styling */
  &-add-to-outfit {
    justify-content: center;

    &__text {
      font-size: $large-font;
      margin: 5px auto;
      text-align: center;
      line-height: 1.6;
    }

    &__word {
      margin-left: 10px;
      margin-right: 10px;
    }

    &__icon {
      font-size: $extra-large-font;
      margin: 20px auto;
      color: green;
    }
  }
}
