@import "config";

/* Global Styles  */

/* Table */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid #333; */
  text-align: center;
}

thead th:nth-child(1) {
  width: 33%;
}

thead th:nth-child(2) {
  width: 33%;
}

thead th:nth-child(3) {
  width: 33%;
}

th {
  letter-spacing: 2px;
  padding: 20px;
}

td {
  letter-spacing: 1px;
  padding: 20px;
}

/* Styling for Top Level Component */
.related-items {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: $dark-color;
}

/* Card Styling */
.c-card {
  border: 1px solid $medium-color;
  background-color: white;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 365px;
  position: relative;
}

.c-card__image-placeholder {
  width: 100%;
  height: 250px;
  background-color: $light-color;
  font-size: $large-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c-card__icon {
  font-size: $extra-large-font;
  margin: 20px;
}

.c-card__content {
  margin: 10px;
  color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.c-card__image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.c-card__text {
  font-size: $extra-small-font;
  margin-bottom: 0.5rem;
  color: $medium-color;
}

.c-card__name {
  font-size: $small-font;
}

.c-card__link {
  text-decoration: none;
  color: inherit;
}

.c-card__link:hover {
  text-decoration: none;
  color: inherit;
}

.c-card__btn {
  position: absolute;
  right: 0;
  margin: 10px;
  font-size: $medium-font;
  cursor: pointer;
}

.c-card__btn:hover {
  cursor: pointer;
}

.c-card__btn--compare {
  color: white;
}

.c-card__btn--delete {
  color: red;
}

/* Related Products Styling */
.c-related-products {
  margin: 75px auto;
  max-width: $website-width;
}

.c-related-products__header {
  color: $medium-color;
  font-weight: 400;
  font-size: $small-font;
  margin-bottom: 20px;
}

/*Outfit Styling */
.c-outfit {
  margin: 75px auto;
  max-width: $website-width;
}

.c-outfit__header {
  color: $medium-color;
  font-weight: 400;
  font-size: $small-font;
  margin-bottom: 20px;
}

/* AddToOutfit Styling */

.c-add-to-outfit {
  justify-content: center;
}

.c-add-to-outfit__text {
  font-size: $large-font;
  margin: 5px auto;
  text-align: center;
  line-height: 1.6;
}

.c-add-to-outfit__word {
  margin-left: 10px;
  margin-right: 10px;
}

.c-add-to-outfit__icon {
  font-size: $extra-large-font;
  margin: 20px auto;
  color: green;
}
