* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.6;
}

h2 {
  color: #777070;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 20px;
}

h3 {
  font-size: 15px;
}

.light {
  color: #777070;
}

/* Card Styling */
.card {
  border: 1px solid #777070;
  background-color: white;
  width: 250px;
}

.image-placeholder {
  width: 100%;
  height: 250px;
  background-color: #ddd;
}

.card-content {
  margin: 10px;
  color: #333;
}

.card-content p {
  font-size: 13px;
}

/* Related Products & Margin Styling */
#related-products, #outfit {
  margin: 75px auto;
  max-width: 1000px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}