* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

h2 {
  color: #777070;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 20px;
}

h3 {
  font-size: 15px;
}

.light {
  color: #777070;
}

/* Card Styling */
.card {
  border: 1px solid #777070;
  background-color: white;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 365px;
}

.card-content {
  margin: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-placeholder {
  width: 100%;
  height: 250px;
  background-color: #ddd;
}

img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-content div {
  font-size: 13px;
  margin-bottom: .5rem;
}

/* Related Products & Margin Styling */
#related-products, #outfit {
  margin: 75px auto;
  max-width: 1100px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Modal Styling */
.btn {
  position: absolute;
  right: 0;
  margin: 10px;
  color: white;
}

i:hover {
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: row;
}

.modal-column {
  margin: 10px;
}

.custom-modal-style {
  width: 800px;
  text-align: center;
}

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid #333; */
  text-align: center;
}

thead th:nth-child(1) {
  width: 33%;
}

thead th:nth-child(2) {
  width: 33%;
}

thead th:nth-child(3) {
  width: 33%;
}

th {
  letter-spacing: 2px;
  padding: 20px;
}

td {
  letter-spacing: 1px;
  padding: 20px;
}

/* AddToOutfit Styling */

.plus {
  font-size: 50px;
  margin: 20px auto;
}

.add-to-outfit {
  font-size: 40px;
  margin: 20px auto;
  text-align: center;
}

.outfit {
  justify-content: center;
}

/* Outfit Styling */
.outfit-container {
  display: flex;
  flex-direction: row;
}